# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## NEXT JS

# dependencies
/nextjs/node_modules
/nextjs/.pnp
/nextjs/.pnp.*
/nextjs/.yarn/*
/nextjs/!.yarn/patches
/nextjs/!.yarn/plugins
/nextjs/!.yarn/releases
/nextjs/!.yarn/versions

# testing
/nextjs/coverage

# next.js
/nextjs/.next/
/nextjs/out/

# production
/nextjs/build
/nextjs/public/.htaccess
/nextjs/public/robots.txt
/nextjs/public/sitemap.xml

# misc
/nextjs/.DS_Store
/nextjs/*.pem

# debug
/nextjs/npm-debug.log*
/nextjs/yarn-debug.log*
/nextjs/yarn-error.log*
/nextjs/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/nextjs/.env*

# vercel
/nextjs/.vercel

# typescript
/nextjs/*.tsbuildinfo
/nextjs/next-env.d.ts

## EXPRESS

/express/node_modules
/express/.env

## DISCORDSJS

/discordjs/
/discordjs/config.json
/discordjs/node_modules