@import "tailwindcss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Orbitron, sans-serif;
    font-weight: bold;
    color: aliceblue;
    background-image: url("/tntr-bg.jpg") ;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
  font-size: 1.5em;
}

/*HEADER & FOOTER*/

header,footer{
    position: fixed;
    width: 100%;
    height: 150px;
    min-height: fit-content;
    background-color: black;
    display: flex;
}

/*HEADER*/

header{
    justify-content: center;
    top:0px
}

#header-side-menu{
    overflow:hidden;
    transition: width 0.5s ease;
    position: fixed;
    top: 150px;
    height: 100%;
    background-color: #010101ee;
}

#header-side-menu[data-opened=false]{
    width: 0px;
}

#header-side-menu[data-opened=true]{
    width: 180px;
}

.header-side-menu-element{
    text-wrap-mode:nowrap;
    margin: 5px 10px;
}

.header-bar{
    font-size: 2em;
    margin-top:10px;
}

.burger-menu{
    position: fixed;
    left:10px;
    top: 30px;
}

#burger-menu-icon{
    width: 80px;
    height: auto;
    cursor: pointer;
}

/*FOOTER*/

footer{
  bottom: 0px;
  justify-content: space-around;
  align-items: center;
}

#song-cover{
  min-height: 125px;
  min-width: 125px;
  max-height: 125px;
  max-width: 125px;
}

#src-bitrate-list{
  background-color: black;
}

/*MAIN*/

main{
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 0px 5px;
    width: 95%;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

/*MAIN / HOME / SCHEDULE*/

#t-holder{
    overflow: hidden;
    margin-bottom: 10px;
    transition: max-height 0.5s ease;
}

#t-holder[data-opened=false]{
    max-height: 300px;
}

#t-holder[data-opened=true]{
    max-height: 900px;
}

#schedule-table{
    width: 100%;
}

#schedule-table, #schedule-table *{
    background-color: black;
    text-align: center;
}

#schedule-tooltip{
    text-align: center;
    padding-bottom: 20px;
}

/*MAIN / HOME / LAST RELEASES*/

#last-dj-sets,#last-dj-list{
    display: flex;
    overflow-x: scroll;
    width: 96%;
    margin: 0 2%;
    background-color: black;
    border-radius: 5%;
    padding: 20px 10px;
    height: 369px;
}

.last-djs-img,.last-sets-img{
    height: 150px;
    border-radius: 50%;
}

.home-last-release-comp{
    cursor:pointer;
    background-color: black;
    min-width: 200px;
    height: 292px;
    overflow-y: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.65em ;
    padding: 5px 10px;
    border: solid 5px white;
    border-radius: 5%;
    margin: 10px 5px;
 }

.home-last-release-title{
    overflow-x: hidden;
    text-wrap-mode: nowrap;
    text-align: left;
    margin: 10px 0px;
    max-width: 171px;
}

.home-last-release-artist-title{
    margin: 10px 0px;
    text-wrap-mode:nowrap;
    text-align: left;
 }

.home-last-release-artist-desc{
    padding: 5px 0px;
    overflow-y: hidden;
    overflow-x: hidden;
 }
/*MAIN / ARTISTES / DJs*/

.available-djs-img{
    height: 150px;
    border-radius: 50%;

}

#available-djs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artist-comp{
    cursor:pointer;
    background-color: black;
    min-width: 200px;
    max-width: 200px;
    height: 292px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9em ;
    padding: 5px 10px;
    border: solid 1px gray;
    border-radius: 5%;
    margin: 5px;
}

.artist-comp-title{
    font-size: 1.1em;
    text-wrap-mode: nowrap;
    text-align: justify;
    overflow-x: hidden;
    max-width: 175px;
}

.artist-comp-desc{
    font-size: 0.8em;
    overflow-y: hidden;
    max-height: 84px;
    white-space: pre-line;
}

/* ARTISTS SETS*/

#copy-notif{
    position: fixed;
    top: 150px;
    background-color: #010101cc;
    width: 100%;
}

#artist-page-artist-header{
    display: flex;
}

#artist-page-artist-name{
    font-size: 2em;
    margin-bottom: 10px;
}

#artist-page-artist-header-share-btn{
    padding-left: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#artist-page-artist-header-share-btn *{
    width: 70%;
    height: 70%;
}

#artist-page-artist-cover{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#artist-page-internal-comp{
    display: flex;
    padding: 20px 10px;
    background-color: #010101aa;
}

#artist-page-artist-desc{
    white-space: pre-line;
    margin: 10px 10px;
    margin-right:0px ;
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
}

#artist-page-artist-links{
    display: flex;
    margin-top: 20px;
}

#artist-page-artist-links li{
    margin :0 10px
}

#artist-page-artist-links li *{
    height: 30px;
    width: 30px;
}

.episodes-comp-internal{
    display: flex;
    padding: 10px 0px;
}

.episodes-comp{
    margin: 20px 0px;
    background-color: #010101ee;
}

.episodes-img{
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.episodes-text{
    margin-left:20px ;
    width: 100%;
}

.episodes-desc{
    min-height: 135px;
    max-height: 135px ;
    overflow-y: scroll;
    white-space: pre-line;
    cursor: pointer;
}

#episode-title-header{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#episode-title{
    margin-left: 10px;
    cursor: pointer;
}

.play_btn *{
    cursor: pointer;
    height: 40px;
    width: 40px;
}


/* EPISODES / SETS PAGE*/

.episode-page-comp-internal{
    display: flex;
    padding: 10px 0px;
}

.episode-page-comp{
    margin: 20px 0px;
    background-color: #010101ee;
}

.episode-page-img{
    width: 200px;
    height: 200px;
}

.episode-page-text{
    margin-left:20px ;
    width: 100%;
}

#episode-page-title{
    margin-left: 10px;
}

.episode-page-desc{
    min-height: 170px;
    max-height: 170px ;
    overflow-y: scroll;
    white-space: pre-line;
}