@import "tailwindcss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Orbitron, sans-serif;
    font-weight: bold;
    color: aliceblue;
    background-image: url("/tntr-bg.jpg") ;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
  font-size: 1.5em;
}

/*HEADER & FOOTER*/

header,footer{
    position: fixed;
    width: 100%;
    height: 150px;
    min-height: fit-content;
    background-color: black;
    display: flex;
}

/*HEADER*/

header{
    justify-content: center;
    top:0px
}

.header-bar{
    font-size: 2em;
    margin-top:10px;
}
.burger-menu{
    position: fixed;
    left:5px;
    top: 50px;
}

#burger-menu-icon{
    width: 50px;
    height: auto;
    cursor: pointer;
}

/*FOOTER*/

footer{
  bottom: 0px;
  justify-content: space-around;
  align-items: center;
}

#song-cover{
  height: 125px;
}
#src-bitrate-list{
  background-color: black;
}

/*MAIN*/

main{
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 0px 5px;
    width: 95%;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

/*MAIN / HOME / SCHEDULE*/

#t-holder{
    overflow: hidden;
    margin-bottom: 10px;
    transition: max-height 0.5s ease;
}

#t-holder[data-opened=false]{
    max-height: 200px;
}

#t-holder[data-opened=true]{
    max-height: 1000px;
}

#schedule-table{
    width: 100%;
}

#schedule-table, #schedule-table *{
    background-color: black;
    text-align: center;
}

#schedule-tooltip{
    text-align: center;
    padding-bottom: 20px;
}

/*MAIN / HOME / LAST RELEASES*/

#last-dj-sets,#last-dj-list{
    display: flex;
    overflow-x: scroll;
    width: 96%;
    margin: 0 2%;
    background-color: black;
    border-radius: 5%;
    padding: 20px 10px;
}

.last-djs-img,.last-sets-img{
    height: 150px;
    border-radius: 50%;
}

 .home-last-release-comp{
    cursor:pointer;
    background-color: black;
    min-width: 200px;
    height: 292px;
    overflow-y: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.65em ;
    padding: 5px 10px;
    border: solid 5px white;
    border-radius: 5%;
    margin: 10px 5px;
 }

 .home-last-release-artist-title{
    margin: 10px 0px;
    text-wrap-mode:nowrap;
    text-align: left;
    padding: 5px 0px;
 }

 .home-last-release-artist-desc{
    padding: 5px 0px;
    overflow-y: hidden;
    overflow-x: hidden;
 }
/*MAIN / ARTISTES / DJs*/

/*.available-djs{

}*/

.available-djs-img{
    height: 150px;
    border-radius: 50%;

}
#available-djs{
    display: flex;
    flex-wrap: wrap;
}

.artist-comp{
    cursor:pointer;
    background-color: black;
    min-width: 200px;
    max-width: 200px;
    height: 292px;
    overflow-y: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em ;
    padding: 5px 10px;
    border: solid 1px gray;
    border-radius: 5%;
    margin: 5px;
}

/* ARTISTS SETS*/

.episodes-comp-internal{
    display: flex;
    padding: 10px 0px;
}

.episodes-comp{
    margin: 20px 0px;
    background-color: #010101ee;
}

.episodes-img{
    width: 200px;
    height: 200px;
}

.episodes-text{
    margin-left:20px ;
    width: 100%;
}
.episodes-desc{
    max-height: 150px ;
    overflow-y: scroll;
    white-space: pre-line;
}

#episode-title-header{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#episode-title{
    margin-left: 10px;
}

.play_btn *{
    height: 40px;
    width: 40px;
}

